<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Sign In Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../CSS/loginstyle.css">
</head>
<body>
    <body>
        <div class="container-shadow">
        </div>
        <div class="container">
            <div class="wrap">
                <div class="headings">
                    <a id="sign-in" href="#" class="active"><span>Log In</span></a>
                    <a id="sign-up" href="#"><span>Sign Up</span></a>
                </div>
                <div id="sign-in-form">
                    <form action="authenticate" method="post" name="form1" enctype="multipart/form-data">
                        <label for="txtemail">Email</label>
                        <input id="txtemail" type="text" name="txtemail">
                        <label for="txtpassword">Password</label>
                        <input id="txtpassword" type="text" name="txtpassword">
                        <i id="show-pw" class="fa fa-eye"></i>
                        <input id="remember" type="checkbox">
                        <label for="remember" id="rlabel">Keep me Signed in</label>
                        <input type="submit" name="submit" value="Sign in">
                    </form>
                    <footer>
                        <div class="hr"></div>
                        <div class="fp"><a href="">Forgot Password?</a></div>
                    </footer>
                </div>
                <div id="sign-up-form">
                    <form action="/register" method="post" name="form2" enctype="multipart/form-data">
                        <label for="txtemail1">Username</label>
                        <input id="txtemail1" type="text" name="txtemail1">
                        <label for="txtpassword1">Password</label>
                        <input id="txtpassword1" type="password" name="txtpassword1">
                        <label for="txtpassword0">Re-Enter Password</label>
                        <input id="txtpassword0" type="password" name="txtpassword0">
                        <input type="submit" name="submit" value="Create Account">
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src='js/dgbxeb.js'></script>
    <script  src="js/login.js"></script>
</body>
</html>
