<!-- views/partials/editor.ejs -->

<label>
        <textarea>
            <h1 style="text-align: center;">Welcome to this editor demo!</h1>
            <p>Please try out the features provided in this basic example.<br>
                Note that any file and image management functionality in this example is part of our commercial offering – the demo is to show the integration.
            </p>
            <h2>Got questions or need help?</h2>
            <ul>
                <li>Our <a href="https://www.tinymce.com/docs/">documentation</a> is a great resource for learning how to configure TinyMCE.</li>
                <li>Have a specific question? Visit the <a href="https://community.tinymce.com/forum/">Community Forum</a>.</li>
                <li>We also offer enterprise grade support as part of <a href="www.tinymce.com/pricing">TinyMCE Enterprise</a>.</li>
            </ul>
            <h2>A simple table to play with</h2>
            <table style="text-align: center;">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Cost</th>
                        <th>Really?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TinyMCE</td>
                        <td>Free</td>
                        <td>YES!</td>
                    </tr>
                    <tr>
                        <td>Plupload</td>
                        <td>Free</td>
                        <td>YES!</td>
                    </tr>
                </tbody>
            </table>
        </textarea>
</label>